.keyboardLayout {
    display: flex;
    flex-wrap: wrap;
    width: 818px;
    row-gap: 16px;
}

.keyRow {
    width: 100%;
    display: inline-flex;
    column-gap: 12px;
}

.keyRow:last-child {
    justify-content: center;
}